@import 'plug/rem';
@import 'plug/variables';
@import 'plug/media-queries';
@import 'plug/mixins';
@import '../../node_modules/rfs/scss/rfs';


/* Global styles start*/
* {
  outline: none;
}

::selection {
  background: #C5413D;
  color: #fff;
}

html,
body {
  height: 100%;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  &[type="button"], &[type="submit"] {
    &:focus {
      outline: none;
    }
  }
}

a {
  color: inherit;
}

input[type='number'] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input, textarea {
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

svg {
  width: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: inherit;
  pointer-events: none;
}

.squeeze-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.squeeze-content {
  flex: 1 0 auto;
}

.squeeze-footer {
  flex: 0 0 auto;
}

/* Global styles end*/

.example-responsive-text {
  @include responsive-font-size(32);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-heading {
  position: relative;
  display: block;
  color: #555555;
  text-align: center;
  font-family: $font-family-base;
  font-size: rem(20px);
  font-weight: 400;
  line-height: rem(24px);
  text-transform: uppercase;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    background-color: #555555;
  }
}
.section-subheading {
  color: #555555;
  font-family: $font-family-secondary;
  text-align: center;
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(24px);
}

