</div>
<!-- content end -->
<footer class="footer section squeeze-footer">
	<div class="footer-item">
		<figure>
			<a href="#">
				<img src="img/footer/twitter.svg" alt="Twitter">
			</a>
			<a href="#">
				<img src="img/footer/facebook.svg" alt="Facebook">
			</a>
			<a href="#">
				<img src="img/footer/google.svg" alt="Google">
			</a>
			<a href="#">
				<img src="img/footer/instagram.svg" alt="Instagram">
			</a>
		</figure>
		<p>
			© 2015 Startup, Designed by ShapedTheme
		</p>
	</div>
</footer>

</div>
<!-- wrapper end -->