<div class="squeeze-wrapper">
    <div class="squeeze-content">
        <header class="header" id="home" style="background-image:url('img/header-bg.jpg');">
            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <div class="logo">
                                <p>Startup</p>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <nav class="nav">
                                <ul>
                                    <li><a class="selected" href="#home">Home</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#works">Works</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#clients">Clients</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <article class="header-item">
                    <h1 class="example">Welcome to STARTUP</h1>
                    <p class="type-text">Your Favourite Creative Agency Template</p>
                    <a href="#">
                        <button>Get Started</button>
                    </a>
                </article>
            </div>
        </header>